/* base */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #c8c8c8;
}

.savings span {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 1px 4px;
  background-color: #eee;
  border-radius: 7px;
}

/* header */
@keyframes heading {
  0% {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }

  30% {
    text-shadow: 0 0 48px white;
  }

  100% {
    text-shadow: 0 0 32px rgba(255, 255, 255, 0.8);
  }
}
body > header {
  background-color: #043079;
}
body > header .container {
  align-items: center;
  display: flex;
  height: 150px;
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 18px;
  }
  @media screen and (max-width: 450px) {
    body > header .container {
     flex-direction: column;
     padding: 18px;
     justify-content: space-around;
    }
  }

body > header .logo {
  height: 60px;
  width: auto;
}
body > header .main-heading {
  animation: 1.5s 1s heading ease-out both;
  color: white;
  font-size: 4.8vw;
  margin: 0 0 0 40px;
  }
  @media screen and (max-width: 450px) {
    body > header .main-heading {
      margin: 0;
    }
  }

/* sticky button */
.ui.sticky.bound {
  position: fixed;
  background: white !important;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

.grey {
  color: #ccc !important;
}

.hidden {
  display: none !important;
}

.alert {
  background-color: #fbbd08;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  height: 40px;
  left: 0;
  line-height: 40px;
  position: fixed;
  right: 0;
  text-align: center;
  text-shadow: 0 -1px 0px rgba(0,0,0,0.5);
  top: 0;
  z-index: 1000;
}
