/* base */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #c8c8c8;
}

.savings span {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 0 5px;
  padding: 0 4px;
}

input.invalid {
  border-color: red !important;
  background-color: rgba(200, 50, 50, 0.05) !important;
}

/* header */
@keyframes heading {
  0% {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }

  30% {
    text-shadow: 0 0 48px white;
  }

  100% {
    text-shadow: 0 0 32px rgba(255, 255, 255, 0.8);
  }
}
body > header {
  background-color: #043079;
}
body > header .container {
  align-items: center;
  display: flex;
  height: 150px;
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 18px;
  }
  @media screen and (max-width: 450px) {
    body > header .container {
     flex-direction: column;
     padding: 18px;
     justify-content: space-around;
    }
  }

body > header .logo {
  height: 60px;
  width: auto;
}
body > header .main-heading {
  animation: 1.5s 1s heading ease-out both;
  color: white;
  font-size: 3.7vw;
  margin: 0 0 0 40px;
  }
  @media screen and (max-width: 450px) {
    body > header .main-heading {
      margin: 0;
    }
  }

/* sticky button */
.ui.sticky.bound {
  position: fixed;
  background: white !important;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

.grey {
  opacity: 0.5 !important;
}

.dark-grey {
  color: #666 !important;
}

.empty-content-field {
  height: 180px;
  }
  @media screen and (max-width: 767px) {
    .empty-content-field {
      height: 0;
    }
  }


.fade {
  animation: fadeInOut 0.5s;
}
@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.calc-link {
  border-bottom: 1px solid transparent;
  color: white !important;
}
.calc-link:hover {
  border-bottom-color: white;
}

.no-display {
  display: none !important;
}

[data-after]:after {
  content: attr(data-after);
}

.alert {
  background-color: #fbbd08;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  height: 40px;
  left: 0;
  line-height: 40px;
  position: fixed;
  right: 0;
  text-align: center;
  text-shadow: 0 -1px 0px rgba(0,0,0,0.5);
  top: 0;
  z-index: 1000;
}

.year_savings {
  border: 2px solid #8ace8a;
  padding: 20px;
  font-size: 1.4em;
}

.year_savings span {
  font-weight: 1.8em;
  font-weight: bold;
}

.pos-rel {
  position: relative;
}

.print.icon {
  position: absolute;
  right: 0;
  top: -27px;
  font-size: 1.4em;
  color: #7d7d7d;
  cursor: pointer;
}
.print.icon:hover {
  animation: wobble 0.6s ease-in-out;
}

@keyframes wobble {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    transform: scale(1.6);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

/* PRINT STYLES */

@media print {

  body {
    margin: 0cm 2cm 2cm 2cm;
  }

  * {
    color: black !important;
    background: none !important;
    text-shadow: none !important;
    box-shadow: none !important;
    border-color: #666 !important;
  }

  .card {
    border: 1px solid #666 !important;
  }

  .button,
  .content.field:last-child,
  .print.icon {
    display: none !important;
  }

  .page-break {
    page-break-after: always;
  }


}


