/* base */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #c8c8c8;
}

.savings span {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 0 5px;
  padding: 0 4px;
}

input.invalid {
  border-color: red !important;
  background-color: rgba(200, 50, 50, 0.05) !important;
}

.hidden {
  visibility: hidden !important;
}

/* header */
@keyframes heading {
  0% {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }

  30% {
    text-shadow: 0 0 48px white;
  }

  100% {
    text-shadow: 0 0 32px rgba(255, 255, 255, 0.8);
  }
}
body > header {
  background-color: #043079;
}
body > header .container {
  align-items: center;
  display: flex;
  height: 150px;
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 18px;
  }
  @media screen and (max-width: 450px) {
    body > header .container {
     flex-direction: column;
     padding: 18px;
     justify-content: space-around;
    }
  }

body > header .logo {
  height: 60px;
  width: auto;
}
body > header .main-heading {
  animation: 1.5s 1s heading ease-out both;
  color: white;
  font-size: 3.6vw;
  margin: 0 0 0 40px;
  }
  @media screen and (max-width: 450px) {
    body > header .main-heading {
      margin: 0;
    }
  }

/* sticky button */
.ui.sticky.bound {
  position: fixed;
  background: white !important;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

.grey {
  opacity: 0.5 !important;
}

.dark-grey {
  color: #666 !important;
}

.empty-content-field {
  height: 180px;
  }
  @media screen and (max-width: 767px) {
    .empty-content-field {
      height: 0;
    }
}

@media screen and (max-width: 767px) {
  .hide-mobile { display: none; }
  .show-mobile { display: block; }
}

@media screen and (min-width: 768px) {
  .hide-mobile { display: block; }
  .show-mobile { display: none; }
}


.fade {
  animation: fadeInOut 0.5s;
}
@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.calc-link {
  border-bottom: 1px solid transparent;
  color: white !important;
}
.calc-link:hover {
  border-bottom-color: white;
}

.no-display {
  display: none !important;
}

[data-after]:after {
  content: attr(data-after);
}

.alert {
  background-color: #fbbd08;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  height: 40px;
  left: 0;
  line-height: 40px;
  position: fixed;
  right: 0;
  text-align: center;
  text-shadow: 0 -1px 0px rgba(0,0,0,0.5);
  top: 0;
  z-index: 1000;
}

.year_savings {
  border: 2px solid #8ace8a;
  padding: 20px;
  font-size: 1.4em;
}

.year_savings span {
  font-weight: 1.8em;
  font-weight: bold;
}

.pos-rel {
  position: relative;
}

.print.icon {
  position: absolute;
  right: 0;
  top: -27px;
  font-size: 1.4em;
  color: #7d7d7d;
  cursor: pointer;
}
.print.icon:hover {
  animation: wobble 0.6s ease-in-out;
}

@keyframes wobble {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    transform: scale(1.6);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

/* PRINT STYLES */

@media print {


  @page {
    size: A4;
  }

  @page :left {
    margin-left: 2cm;
  }

  @page :right {
    margin-left: 1cm;
  }

  body {
    margin: 0 2cm 0 1cm;
  }

  * {
    color: black !important;
    background: none !important;
    text-shadow: none !important;
    box-shadow: none !important;
    border-color: #bbb !important;
  }

  body {
    font-size: 80%;
  }

  body > header .container {
    padding: 0.5cm;
    height: 3cm;
  }

  body > header .main-heading {
    font-size: 1.3rem;
  }

  h1.header {
    font-size: 1.1rem;
    display: inline-block;
    margin: 0;
    margin-right: 1em;
  }

  .ui.card>.content, .ui.cards>.card>.content{
    padding: 0.5em;
    height: auto;
    font-size: 0.9em;
  }

  .ui.form input:not([type]), .ui.form input[type=text], .ui.form input[type=email], .ui.form input[type=search], .ui.form input[type=password], .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=tel], .ui.form input[type=time], .ui.form input[type=file], .ui.form input[type=url], .ui.form input[type=number] {
    border: 0;
    padding: 0;
  }

  .ui.card>.content>.header, .ui.cards>.card>.content>.header {
    color: #000 !important;
  }

  .year_savings {
    border: 0;
    background-color: #ccc;
    padding: 10px;
  }

  .card {
    border: 1px solid #bbb !important;
  }

  .content:first-child {
    height: 2cm;
  }

  .content.field {
    height: 2.7cm;
  }

  .mt-xl {
    margin-top: 0.2cm !important;
  }

  .button,
  .alert,
  .sticky.content.field,
  .print.icon {
    display: none !important;
  }

  .page-break {
    page-break-after: always;
  }
}

